<div>
  <%= link_to 'К списку тестов', tests_path %>
</div>

<h1>Список вопросов теста <%= @test.title %></h1>
<table>
  <tr>
    <th>Тело вопроса</th>
    <th colpan="3">Действия</th>
  </tr>
  <%= render @questions %>
</table> 

<h3>
  <%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>
</h3>
