<div class="nav-admin user">
  <%= t(".title") %> |
  <%= link_to t(".main_link"), admin_tests_path %> |
  <%= t(".welcome", name: current_user.name) %> |
  <%= link_to t("titles.exit"), logout_path, method: :delete, data: { confirm: t("titles.confirm_exit") } %>
</div>
