<% if resource.errors.present? %>
  <div>
    <%= t(".title", count: resource.errors.count) %>
  </div>

  <% resource.errors.full_messages.each do |msg| %>
    <div><%= msg %></div>
  <% end %>
<% end %>
