<div>
  <p>
    <%= current_year %> |
    Автор проекта: Павел Голенков |
    <%= github_url('pashex', 'test_guru') %>
  <p> 
    Проект TestGuru позволяет проводить тестирование пользователей.  Система автоматически
    проверяет правильность ответов и указывает на ошибки.
  <p>
    <%= link_to "Учебный проект в онлайн-школе Thinknetica",
                "http://www.thinknetica.com/",
                target: "_blank" %>
</div>
