<tr>
  <td>
    <%= answer.body %>
  </td>
  <td>
    <%= answer.correct? ? 'Да' : 'Нет' %>
  </td>
  <td>
    <%= link_to 'Изменить', edit_answer_path(answer) %>
  </td>
  <td>
    <%= link_to 'Удалить', answer, method: :delete, data: { confirm: 'Подтвердите удаление' } %>
  </td>
</tr>

