<tr>
  <td>
    <%= answer.body %>
  </td>
  <td>
    <%= boolean_to_human_string(answer.correct?) %>
  </td>
  <td>
    <%= link_to t("titles.edit"), edit_admin_answer_path(answer) %>
  </td>
  <td>
    <%= link_to t("titles.delete"), [:admin, answer], method: :delete, data: { confirm: t("titles.confirm_deletion") } %>
  </td>
</tr>

