// Place all the styles related to the admin/badges controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.badge-image {
  img { width: 100px; height: 100px; }
}
