.nav {
  &.user {
    padding-bottom: 10px;
  }
}

.nav-admin {
  background: blue;
  color: white;
  padding: 10px;
  a { color: yellow; }
}

.flash {
  margin: 10px 0;

  &.alert {
    color: red;
  }
  &.notice {
    color: green;
  }
}

