// Place all the styles related to the test_passages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.test_passage_result {
  .success { color: green; }
  .fail { color: red; }
}
