<div>
  <%= link_to 'На главную', '/' %>
</div>

<h1>Список тестов</h1>
<table>
  <tr>
    <th>Название</th>
    <th>Кол-во вопросов</th>
    <th>Действия</th>
  </tr>
  <%= render @tests %>
</table>  
